.acpt {
  width: 300px;
  height: 300px;
  background-color: blue;
  border-radius: 10px;
}

.btn {
  padding: 10px;
  margin: 5px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
}

@media only screen and (min-width: 520px){
  .acpt {
    background-color: brown;
    width: 100px;
    height: 100px;
  }
  .btn {
    background-color: white;
    border: 2px solid blue;
    color: blue;
  }
}
